.grid-container {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-gap: 20px;
  /* justify-content: end; */
}

.grid-item-1 {
  justify-self: center;
  align-self: start;
}
.grid-item-2 {
}
.grid-item-3 {
}
